@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "DM Sans",sans-serif;
  background: white;
}

.lazersea-logo {
  font-size: 25px;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-image: linear-gradient(137deg, rgb(222, 43, 181) 0.84%, rgb(215, 32, 251) 34.69%, rgb(236, 64, 66) 79.3%, rgb(219, 39, 205) 126.31%);
}